body,
p {
    margin: 0;
    padding: 0;
}

#container {
    margin: auto;
    position: relative;
    width: 400px;
}

input[type=button] {
    cursor: pointer;
}

.buttonArea {
    position: relative;
}

.buttons,
.operators {
    margin: 0;
    padding: 0;
    text-align: center;
}

.buttons {
    position: relative;
    width: 300px;
}

.operators {
    position: absolute;
    right: 0;
    top: 90px;
    width: 100px;
}

.buttons div,
.operators div,
.actions div {
    display: inline-block;
    height: 82px;
    margin: 4px;
    width: 92px;
}

.buttons div:nth-child(10n-0) {
    width: 190px;
}

input {
    border: none;
    border-radius: 0;
    display: block;
    font: bold 30px/30px arial;
    height: 100%;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
}

.buttons input {
    background: #1976D2;
    color: #fff;
}

.buttons input:hover {
    background: #2196F3;
}

.buttons input:active {
    background: #1565C0;
}

.actions input {
    background: #00796B;
    color: #fff;
}

.actions input:hover {
    background: #009688;
}

.actions input:active {
    background: #00695C;
}

.operators input {
    background: #607D8B;
    color: #fff;
}

.operators input:hover {
    background: #78909C;
}

.operators input:active {
    background: #455A64;
}

.display {
    background: #eee;
    height: 100px;
    margin: 8px 4px 0;
}

.display div {
    overflow: hidden;
    padding: 0 8px;
    text-align: right;
    width: 376px;
}

.display .hist i {
    font: normal 30px/40px arial;
    position: absolute;
    right: 0;
    text-align: center;
    width: 36px;
}

.display .hist {
    background: #fafafa;
    font: normal 14px/40px arial;
    height: 40px;
    white-space: nowrap;
}

.display .value {
    background: #fff;
    font: normal 40px/60px arial;
    height: 60px;
    white-space: nowrap;
}

.display .hist .a {
    margin-right: 20px;
}

.display .a {
    float: right;
}

.display .info{
    background: #fff;
    font: normal 12px/20px arial;
    height: 20px;
    text-align: right;
}
